
/*
		Name: Amarachi Ben-Ikenador
		Filename: 
		Date:19th Feb 2025
		Description: This is a cool box :)
*/

html {
  font-family: sans-serif;
}

/* Your CSS below here */
div {
	width: 200px;
	height: 200px;
	border: 1px Magenta;
	padding: 100px;
	margin: 50px;
	background-color: Magenta;
}
h3 {
	color: white;
}